<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlm.wlm.dao.wx.WxUsersBindSignMapper">
  <insert id="batchInsert">
    insert into wx_users_bind_sign(openid, tag_id) values
    <foreach collection="bindSignList" item="item" separator=",">(#{item.openid}, #{item.tagId})</foreach>
  </insert>
  <delete id="batchDelete">
    delete from wx_users_bind_sign where openid in
        <foreach collection="openidList" item="item" open="(" separator="," close=")">#{item}</foreach>
        and tag_id = 1
  </delete>
</mapper>