<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlm.wlm.dao.sys.SysUserMapper">
<!-- 开启或关闭一级缓存   -->
<!--    <cache/>-->
    <select id="findUserListByRoleNo" resultType="com.wlm.wlm.vo.SysUserVo">
        select a.id, a.username, a.age, a.email, a.dept_no, a.role_no,
               (select d.dept_name from sys_dept d where a.dept_no = d.dept_no) as deptName,
               (select r.role_name from sys_role r where a.role_no = r.role_no) as roleName
        from sys_user a
        <where>
            <if test="params.roleNo != '' and params.roleNo != null">
                role_no = #{params.roleNo}
            </if>
            <if test="params.deptNo != '' and params.deptNo != null">
                and dept_no = #{params.deptNo}
            </if>
            <if test="params.username != '' and params.username != null">
                and username like concat('%',#{params.username},'%')
            </if>
            <if test="params.deptName != '' and params.deptName != null">
                and dept_no in (select dept_no from sys_dept where dept_name like concat('%',#{params.deptName},'%'))
            </if>
            <if test="params.roleName != '' and params.roleName != null">
                and role_no in (select role_no from sys_role where role_name like concat('%',#{params.roleName},'%'))
            </if>
        </where>
    </select>
    <select id="selectOneById" resultType="com.wlm.wlm.vo.SysUserVo">
        select a.id, a.username, a.age, a.email, a.dept_no, a.role_no,
               (select d.dept_name from sys_dept d where a.dept_no = d.dept_no) as deptName,
               (select r.role_name from sys_role r where a.role_no = r.role_no) as roleName
        from sys_user a
        where a.id = #{id}
    </select>
</mapper>